{% extends 'layout.html'%}

{%block body %}

<h1>About Us</h1>


<p>
Chocolate bar pie bonbon candy canes sweet roll. I love pie oat cake halvah tootsie roll. Chocolate bar chupa chups cheesecake. Pudding I love marshmallow powder. Oat cake cookie halvah cake jelly beans dessert. Tootsie roll croissant I love carrot cake lemon drops I love I love topping. Jelly dragée jelly-o I love macaroon sugar plum marshmallow sugar plum cake. Sweet candy canes gingerbread jelly-o muffin sesame snaps. I love jelly tootsie roll I love. Danish lemon drops sesame snaps cookie bonbon macaroon I love. Oat cake I love cake pie. Tart icing powder wafer I love powder. I love lollipop tart chupa chups croissant biscuit carrot cake.
</p>


{% endblock %}
